<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/add_style.css' %}" />
  <title>Add Product</title>
</head>
<body>
  <header>
    <h1>New Product</h1>
    <h2 id="log">
    <a id="nav1" href="#">Log off</a></h2>
  </header>
    <div class="form">
      <h1>Add a New Product</h1>
      <form id="new_form" action="dashboard/product/edit" method="POST">
        {% csrf_token %}
        <label for="name"> Name:</label>
        <input type="text" name="name" id="name" value="{{product.name}}"><br>

        <p id='desc_label'>Description:</p>
        <textarea name="desc" id="desc"></textarea>


        <label for="categories">Categories:</label>
        <select name="categories" id="categories">
            <option value="none">Select one</option>
        </select>


        <br>

        <label for="add_new_category">or add new category:</label>
        <input type="text" name="add_new_category" id="add_new_category">



        <form id="cancel_form" action="#"></form>
        <button id="cancel_button" form="cancel_form" type="submit">Cancel</button>

        <button id="create_button" form="new_form" type="submit">Create</button>


    </div>
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
      {% endfor %}
    </ul>
</body>
</html>