<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Products.css' %}"> 
</head>
<body>
    <header>
        <h1>Dashboard</h1>
        <h2><a class= "nav" href="#">Orders</a></h2>
        <h2><a class= "nav" href="#">Products</a></h2>
        <h2 class="log" ><a class="nav1"  href="#">Log off</a></h2>
        </header>
        <div class= "topsearch"><input type="search" name="" id="" placeholder="Search"><input type="submit" value="search"></div>
        <div class= "topbutton"><input class= "button"  type="submit" value="Add a New Product">
        </div>
    <table id="t01">
        <tr>
        <th>Picture</th>
        <th>ID</th> 
        <th>Name</th> 
        <th>inventory Count</th>
        <th>Quantity Sold</th>
        <th>Action</th>
        </tr>
        <tr>
        <td>images from data</a></td>
        <td>ID 1</td>
        <td>product name</td>
        <td>amount on hand</td>
        <td>amount sold</td>
        <td><a href="#">Edit</a> <a href="#">Delete</a>  </td>
        </tr>
        <tr>
        <td>images from data</a></td>
        <td>ID 1</td>
        <td>product name</td>
        <td>amount on hand</td>
        <td>amount sold</td>
        <td><a href="#">Edit</a> <a href="#">Delete</a>  </td>
        </tr>
        <tr>
        <td>images from data</a></td>
        <td>ID 1</td>
        <td>product name</td>
        <td>amount on hand</td>
        <td>amount sold</td>
        <td><a href="#">Edit</a> <a href="#">Delete</a>  </td>
        </tr>
    
    </table>
</body>
</html>