<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Product_show.css' %}" />
  </head>
  <body>
    <header>
      <h1>Dashboard</h1>
      <h2><a class="nav" href="#">Orders</a></h2>
      <h2><a class="nav" href="#">Products</a></h2>
      <h2 class="log"><a class="nav1" href="#">Log off</a></h2>
    </header>
    <div class="orderinfo">
      <h3>Order ID: db</h3>
      <br />
      <p>Customer shipping info:</p>
      <p>Name: db</p>
      <p>Address: db</p>
      <p>City: db</p>
      <p>State: db</p>
      <p>Zip: db</p>
      <br />
      <p>Customer billing info:</p>
      <p>Name: db</p>
      <p>Address: db</p>
      <p>City: db</p>
      <p>State: db</p>
      <p>Zip: db</p>
    </div>

    <div id= "table1">
    <table id="t01">
      <thead>
        <th>ID</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </thead>
      
      <tr>
        <td>ID number</td>
        <td>item name</td>
        <td>Item prices</td>
        <td>how many</td>
        <td>prices</td>
      </tr>
      <tr>
        <td>ID number</td>
        <td>item name</td>
        <td>Item prices</td>
        <td>how many</td>
        <td>prices</td>
      </tr>
      <tr>
        <td>ID number</td>
        <td>item name</td>
        <td>Item prices</td>
        <td>how many</td>
        <td>prices</td>
      </tr>
    </table>
    <div id="status">
      <p>Statues: db</p>
    </div>
    <div id="right">
        <p>Sub total: db</p>
        <p>Shipping: db</p>
        <p>Total Prices: db</p>
    </div>
</div>


  </body>
</html>
