
* {
  margin: 0px;
  padding: 0px;
}

.form{
  /* text-align: center; */
  margin: 0px auto;
  width: 500px;
  /* height: 350px; */
  margin-top: 10px;
  border: 2px solid black;
}

.header{
  background-color:rgb(167, 54, 54);
  color:white;
  width: auto;
  height: 85px;
}
h1{
  display:inline-block;
  margin-left: 10px;
  margin-top: 20px;
}
.log{
  display: inline-block;
  margin-left: 75%;
  color: white;
  
}
form{
  margin-top: 10px;
}

label {
  margin-left: 100px;
}

input {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

#name {
  margin-left: 91px;
}

#desc_label {
  margin-left: 100px;
  display: inline-block;
  vertical-align: top;
}

#desc {
  /* margin-left: 235px; */
  resize: none;
  height: 60px;
  display: inline-block;
  margin-top:20px;
  margin-left: 55px;
  margin-bottom: 20px;
  
}

#categories {
  margin-left: 62px;
  margin-right: 60px;
}

h4 {
  margin-left: 100px;
}

ul {
  margin-left: 140px;
}

#assoc_img_select {
  margin-top: 10px;
  margin-left:100px;
}

a {
  margin-left: 100px;
  /* margin-right: 500px; */
}

button{
  margin-left:10px;
}

#cancel_button {
  margin-left: 200px;
  display: inline-block;
}
#preview_button {
  display: inline-block;
}
#update_button {
  display: inline-block;
}